* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  height: 3em;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: inherit;
}

li {
    display: inline-flex;
    list-style-type: none;
    margin: 1em;
}

li a {
  color: #007bff;
  text-decoration: none;
}

header {
  align-self: center;
  margin: 1em auto;
}

h1 {
  font-size: 3.5em;
  font-weight: 300;
}

section {
  align-self: center;
  display: flex;
  justify-content: center;
  max-width: 65%;
  max-height: 300px;
}

section div {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1em;
}

#first-p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.images {
  width: 30%;
  height: inherit;
  margin: 1em 1em 1em 0.5em;
}

.images img {
  width: 90%;
  border-radius: 5px;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  max-width: 65%;
  margin: 1em;
}

h3 {
  font-size: 2.5em;
  font-weight: 300;
  align-self: center;
}

.projects-intro {
  align-self: center;
  margin-top: 1em;
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 75%;
  margin-top: 1em;
  align-self: center;
  justify-content: center;
}

main .images {
  min-width: 450px;
  margin: 1em 0 1em 0;
}

.contact-me {
  display: flex;
  width: 60%;
  min-height: 3em;
  align-self: center;
  margin-top: 2em;
}

.contact-me p {
  width: 45%;
  margin-right: 1em;
}

.contact-me i {
  color: #007bff;
}

.fa-twitter-square {
  margin: 0 0.25em 0 0.6em;
}

.social:hover {
     transform: scale(1.1);
 }

 footer {
   align-self: center;
   margin: 1.5em 0;
 }

 footer a {
   text-decoration: none;
   color: #007bff;
 }
