.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 85%;
}

.contact-me-title {
  font-size: 1.75rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 1020px) {
  .contact-me-title {
    font-size: 2rem; } }

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me-text {
  width: 85%;
}
@media screen and (min-width: 760px) {
  .contact-me-text {
    text-align: center; } }

.fa {
  color: #007bff; }

.fa-twitter-square {
  margin-right: .25em; }

.social:hover {
  transform: scale(1.1); }
