.intro {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.image-container {
  width: 60%; }

.main-image {
  border-radius: 8px;
  width: 100%; }

.intro-message {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  width: 85%;
}

.intro-message--text {
  margin: 1em 0; }

.intro-message--text2 {
  margin-bottom: 0rem; }

.line {
  align-self: center;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  margin: 1em 0;
  width: 85%; }
