.intro {
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 760px) {
  .intro {
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    } }
@media screen and (min-width: 1020px) {
  .intro {
    justify-content: space-around;
    max-width: 700px;
  } }

.image-container {
  width: 60%; }
@media screen and (min-width: 760px) {
    .image-container {
      margin-right: 1em;
      max-width: 200px;
      order: 2;
      } }
@media screen and (min-width: 1020px) {
    .image-container {
      max-width: 250px;
      } }

.main-image {
  border-radius: 8px;
  width: 100%; }

.intro-message {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  width: 85%;
}
@media screen and (min-width: 760px) {
  .intro-message {
    align-self: flex-start;
    margin-left: 1.25rem;
    width: 50%;
    } }
@media screen and (min-width: 1020px) {
  .intro-message {
    margin-top: 1rem;
  } }

.intro-message--text {
  margin: 1em 0; }

.intro-message--text2 {
  margin-bottom: 0rem; }
